<?xml version="1.0" encoding="UTF-8" ?>
        <suite name="Forum">
    <parameter name="Browser" value="chrome">
        <test name="product">
            <classes>
                <class name="org.test.gun.TestLogin"></class>
                <class name="org.test.gun.TestLogin1"></class>
            </classes>
        </test>
    </parameter>
</suite>